
@font-face{
    font-family: myFirstFont;
    src: url('../fonts/AlexBrush-Regular.ttf');
}
@font-face{
    font-family: mySecondFont;
    src: url('../fonts/PosterBoy.otf');
}
.title_banner {
    background-image: url("../images/Whimsical_Flowers_Title.png");
    background-size: contain;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
  }
body{
    text-align: center;
    text-decoration-color: blue;
    background-color: rgb(240, 240, 220);
}
.text{
    font-family: myFirstFont;
    src: url('../fonts/AlexBrush-Regular.ttf');
    font-size: 24pt;
}
.conntact_info{
    font-family: Calibri;
}
.column {
    display: inline-block;
    width: fit-content;
    padding:0 20px 0 20px; /* Only right padding*/

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h3{
    text-align: left;
}
li{
    text-align: left;
}
.row_low{
    content: "";
    display: inline;
    clear: both;
}
.col_low{
    display: inline-block;
    width: fit-content;
    padding:0 30px 0 30px; /* Only right padding*/
    font-size: 18pt;
    font-family: mySecondFont;
}